html,
body {
    margin: auto;
    max-width: 1280px;
    min-width: 321px;
    padding-right: 5px;
    padding-left: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 5px;
}

.header {
    margin-left: 12%;
    width: 88%;
    text-align: right;
    font-family: "Work Sans", sans-serif;
    text-transform: uppercase;
    font-size: 130%;
    border-bottom: 5px solid rgb(128, 128, 128);
    padding-bottom: 15px;
    padding-top: 15px;
}

.logo {
    float: left;
    filter: drop-shadow(3px 3px 5px #008cff);
    padding-top: 0.7em;
}

.main {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    float: left;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    width: 12%;
    text-align: center;
    color: #858585;
}

.color-wrapper {
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

.color-item {
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

#color-1 {
    background: #02b3e4;
}

#color-2 {
    background: #2d3c49;
}

#color-3 {
    background: #7d97ad;
}

.content {
    padding-left: 0;
    width: 88%;
    display: inline-block;
}

.main-content {
    height: 380px;
    padding-top: 15px;
}

.main-content h6 {
    text-align: right;
    color: #939fa7;
    margin-top: 0;
}

.featured-work {
    width: 100%;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    color: #939fa7;
    margin-top: 30px;
    text-align: justify;
}

.featured-work:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.site-item {
    height: 270px;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}

.site-item img {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid #777;
    height: 80%;
    width: 100%;
    object-fit: fill;
}

.site-item h2,
h6 {
    color: #000;
    font-weight: 100;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
}

.site-item h2 {
    font-size: 25px;
}

.site-item a {
    color: #000;
    text-decoration: none;
}

.site-item a:hover {
    color: #f00;
}

footer {
    color: rgb(128, 128, 128);
    width: 88%;
    height: 30px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 0.9em;
    margin-left: 12%;
    margin-top: 30px;
    padding-top: 0.25em;
}

@media screen and (min-width: 160px)and (max-width: 480px) {
    .sidebar {
        width: 100%;
        height: 60px;
        text-align: justify;
    }
    .color-wrapper {
        width: 32%;
        height: 100%;
        display: inline-block;
        text-align: center;
        margin-top: 0.5em;
    }
    .color-item {
        height: 40px;
    }
    .header,
    .content,
    footer {
        margin-left: 0;
        width: 100%;
    }
    .header {
        font-size: 60%;
    }
    .logo {
        width: 40px;
    }
    .site-item {
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }
}

@media screen and (min-width: 481px)and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: 75px;
        text-align: justify;
    }
    .color-wrapper {
        width: 32%;
        display: inline-block;
        text-align: center;
        margin-top: 1em;
    }
    .site-item img {
        height: 120px;
    }
    .site-item h2,
    h6 {
        font-size: 70%
    }
    .header,
    .content,
    footer {
        margin-left: 0;
        width: 100%
    }
    .logo {
        width: 60px;
    }
}